@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #172b4d !important;
  font-family: "Poppins";
  letter-spacing: 1px;
  /* text-align: center; */
}

.text-primary {
  color: #5eaaa8 !important;
}

.text-secondary {
  color: #f2a154 !important;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.fw-300 {
  font-weight: 300;
}
.fw-200 {
  font-weight: 200;
}
.fw-100 {
  font-weight: 100;
}

.fs-18 {
  font-size: 18px;
}
.fs-23 {
  font-size: 23px;
}
.fs-75 {
  font-size: 75px;
}
.fs-50 {
  font-size: 50px;
}

.btn-primary {
  background-color: #5eaaa8 !important;
}
.btn-info {
  background-color: #f2a154 !important;
}

.ls-2 {
  letter-spacing: 2px;
}
.ls-5 {
  letter-spacing: 5px;
}

Button,
Button:focus,
Button:active {
  border: none !important;
}

.icon::before {
  height: 40;
  font-size: 40px;
  color: white;
  padding-left: 10%;
  display: "block";
  content: "\02630" !important;
}

.logo {
  max-width: 120px;
  max-height: auto;
  filter: grayscale(100%);
  object-fit: contain;
}
.logo:hover {
  filter: grayscale(0%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.bg-none {
  background-color: transparent !important;
}
